
<div *ngIf="seguidorNuevo">

    <div data-aos="zoom-in" class={{class01}}>
        <div class="card-header">@{{emisor}} {{mensaje}}</div>
    </div>

</div>

<div *ngIf="likeAtuit">

    <div data-aos="zoom-in" class={{class01}}>
        <div class="card-header">@{{emisor}} {{mensaje}}</div>
        <div class="card-body">
            <p class="card-text text-white">{{tuit}}</p>
        </div>
    </div>

</div>

<div *ngIf="likeART">

    <div data-aos="zoom-in" class={{class01}}>
        <div class="card-header">@{{emisor}} {{mensaje}}</div>
        <div class="card-body">
            <p class="card-text text-white">@{{dueno}}: {{tuit}}</p>
        </div>
    </div>

</div>

<div *ngIf="rtART">

    <div data-aos="zoom-in" class={{class01}}>
        <div class="card-header">@{{emisor}} {{mensaje}}</div>
        <div class="card-body">
            <p class="card-text text-white">@{{dueno}}: {{tuit}}</p>
        </div>
    </div>

</div>

<div *ngIf="rtAtuit">

    <div data-aos="zoom-in" class={{class01}}>
        <div class="card-header">@{{emisor}} {{mensaje}}</div>
        <div class="card-body">
            <p class="card-text text-white">{{tuit}}</p>
        </div>
    </div>

</div>